{
    "presets": [
        ["env", { "modules": false }]
    ],
    "comments": false,
    "plugins": [
        [
          "component",
          {
            "libraryName": "element-ui",
            "styleLibraryName": "theme-chalk"
          }
        ],
        "syntax-dynamic-import"
      ]
}